

@media screen and (max-width: 1100px) {
   .second{
      flex-wrap: wrap;
   }
   .img-abouts{
      width: 50%;
      height: auto;
   }
   
   header{
      padding: 0 2rem;
   }
}


@media screen and (max-width: 890px){

   
   .container-abouts{
      padding: 0 1rem;
   }

   .menu{
    display: none;
   }


   .burger{
    display: block;
   }

   .principal{
      flex-direction: column-reverse;
      height: auto;
      padding: 0 3rem;
   }
   
   header{
      padding: 0 2rem;
   }
   .second{
      flex-wrap: wrap;
   }
   .img-abouts{
      width: 50%;
      height: auto;
   }


   
}

@media screen and (max-width: 700px){
   .first, .second{
      flex-wrap: wrap;
   }
   .img-abouts{
      width: 350px;
      height: auto;
   }
   .imagen-principal{
      width: 80%;
   }
   .icon2{
      flex-wrap: wrap;
   }
}