/*MENU DESPLEGABLE */
/*
@media scren and (max-widht: 991px){
    header{
        padding: 20px;
    } 
    
    header .logo{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;

    }
    header .navbar ul li {

        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background-color: white;
    }

    header .navbar ul li ul li ul{
        width: 100%;
       
    }

    #logo:checked ~ .navbar{
        display: initial;
    }


}*/


@media screen and(max-width: 890px){

    .menu{
        display: none;
    }
}