* {
  margin: 0%;
  padding: 0%;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.navbar {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  flex-wrap: wrap;
}

.logo {
  font-size: 30px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

.cont-menu {
  text-decoration: none;
  color: #555555;
  font-size: 15px;
}

.cont-menu:hover {
  color: #3498db;
  transition: 0.3s;
}

/* MENU DESPLEGABLE*/

header ul{
  list-style: none;
}

header ul li{
  position: relative;
  float: left;
}

header ul li a{
  text-decoration: none;
  color: #555555;
  font-size: 15px;
  padding: 20px;
  display: block;
}
header ul li a:hover{
  color: #3498db;
  
}
header ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background-color: #fff;
  display: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
header ul li ul li{
  width: 100%;
}
header ul li ul li ul{
  left: 200px;
  top: 0;
}

header ul li:focus-within > ul, 
header ul li:hover > ul{
  display: initial;
  
}





main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.principal {
  height: 65vh;
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 90px 0 90px 0;
  gap: 3rem;
}

.text1 {
  font-size: 48px;
}

.text2 {
  margin-bottom: 50px;
  color: #484848;
  font-size: 24px;
}

.boton-get {
  background-color: #3498db;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 130px;
  padding: 10px 10px;
  border-radius: 30px;
  margin-left: 30px;
}
.boton-get:hover {
  background-color: #fff;
  color: #3498db;
  border: 1px solid #3498db;
  transition: 0.5s;
}

.btn-get {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 50px;
  color: #3498db;
  border: 2px solid #3498db;
  background-color: #fff;
}

.btn-get:hover {
  background-color: #3498db;
  color: #fff;
  transition: 0.5s;
}

.imagen-principal {
  position: relative;
  animation: arriba-abajo 3s ease-in infinite;
}
@keyframes arriba-abajo {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.container-marcas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f3f9fd;
}
.marcas {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding: 30px 0;
  flex-wrap: wrap;
}

.img-clients {
  width: 95px;
  height: 40px;
  filter: grayscale(100%);
}
.img-clients:hover {
  filter: none;
  transition: 0.3s;
}

/*ABOUT US*/

.title-abouts {
  text-align: center;
  display: inline-block;
  position: relative;
  font-size: 220%;
  padding: 60px 0;
  color: #222222;
}
.title-abouts::after,
.title-abouts::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #3498db;
  margin-top: 10%;
}

.title-abouts::before {
  left: 110%;
}

.title-abouts::after {
  right: 110%;
}

.container-abouts {
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  line-height: 2;
  letter-spacing: 1px;
}

.paragraph {
  margin: 0 0 1rem 0;
}

/*SE CAMBIA EL COLOR DE LOS PUNTOS DE LAS LISTAS*/

::marker {
  color: #3498db;
}

.img-abouts {
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 600px;
  height: 600px;
}

.second {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 40px 0;
}

.icon-num {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 0 1rem 0;
  flex-direction: column;
}

.icon-left-or-right {
  display: flex;
  gap: 1rem;
}

/* se alinea el texto que lo contiene first en los abouts */
.text-left,
.text-right {
  width: 100%;
}
