*{
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 22px 0;
    margin: 30px 0;
}

.logo{
    font-size: 30px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content:center;
    list-style: none;
    gap: 2rem;
}

.cont-menu{
    text-decoration: none;
    color: #555555;
    font-size: 15px;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.principal{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 0 200px 0;
    gap: 3rem;
}

.text1{
    font-size: 48px;
}

.text2{
    margin-bottom: 50px;
    color: #484848;
    font-size: 24px;
}

.boton-get {
    background-color: #3498db;
    color: #fff;
    justify-content: center;
    height: 35px;
    width: 95px;
    padding: 8px 25px;
    border-radius: 30px;
    margin-left: 30px;
}

.btn-get{
font-size: 16px;
letter-spacing: 1px;
padding: 10px 30px;
border-radius: 50px;
color: #3498db;
border: 2px solid #3498db;
background-color: #fff;
}

.marcas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #f3f9fd;
    padding: 50px 0;
}

.img-clients{
    width: 95px;
    height: 40px;
    filter: grayscale(100%);
}


/*ABOUT US*/

.title-abouts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    color: #222222;
    
}

.container-abouts{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.first{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    line-height: 2;
    letter-spacing: 1px;
   
}

.text-left{
    flex-wrap: wrap;
}

.text-right{
    flex-wrap: wrap;
}

.paragraph{
    margin: 0 0 1rem 0;
}

/*SE CAMBIA EL COLOR DE LOS PUNTOS DE LAS LISTAS*/

::marker{
    color: #3498db;
}

.img-abouts {
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 600px;
    height: 600px;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.icon2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 40px 0;
}

.icon-num{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 0 1rem 0;
    gap: 10px;
}